
.badge-light-dark {
    color: #b76f08;
    background-color: #b76f0845;
}

.badge-light-primary {
    color: #009cf7;
    background-color: #e1f0ff;
}

.text-red {
    color: red;
}


.No-data-foun{
    p {
        text-align: center;
        margin: 0;
        font-size: 18px;
        color: #484848;
        font-weight: 500;
    }
}