
<section class="pcyplcy-section white-bg">
    <div class="container">
        <div class="pcyplcy-main ">
            <div class="privacy-policy">
            <div *ngIf="lang=='en'" class="prvcy-polcy">
                <h2>Privacy Policy</h2>
                <p> Your use of the Caly application and the provision of your personal information to us constitutes your
                    consent to the terms set forth in the privacy policy. With reference to "the company" or "we", it represents
                    Caly for Information Technology, registered in the Kingdom of Saudi Arabia, while "you" or "the user"
                    represents any person who uses the Caly application. If you do not agree to these terms, you must stop using
                    the application.</p>
                <h4>Are your information secure?</h4>
                <p>If you browse the store, we will not collect any personal data about you unless you decide to use the service
                    and benefit from it, not for browsing and discovery purposes only. If you use the service, you must be
                    assured that we do our utmost to protect your personal data, prevent unauthorized or unauthorized access to
                    it, and even protect it from processing, change, or loss. Despite the various protection measures taken and
                    working to improve them, no system or technology can remain completely secure from harm. Therefore, if you
                    feel any gap within the application, you can contact us to work on solving this problem via the following
                    email address: <strong>info@caly.sa</strong>.</p>
                <h4>How is the electronic payment process carried out within the application?</h4>
                <p>Caly uses a trusted third party to process electronic payment transactions, and these processes do not apply
                    to people who choose "payment upon receipt" during the shopping process. This third party may request
                    information about your credit card and may ask you to access your contact list.</p>
                <p>Caly uses the customer's wallet shipping system, and the customer can make purchases through their wallet
                    based on installment sale agreements between Caly and the customer.</p>
                <h4>Do we share your personal information with any other parties?</h4>
                <p>The privacy of Caly's users is one of the most important things we try to protect in every possible way. We
                    do not sell or share this data, and we do not disclose or share it with any third party for any purpose. The
                    purposes for which we collect this data are statistical purposes only, such as the number of users and their
                    access locations to the service.</p>
                <h4>What permissions are required of the user?</h4>
                <ul>
                    <li><p>Access to phone status: requested by a third party to complete electronic payment within the
                        application.</p></li>
                    <li><p>Access to the camera: where access to your mobile camera is used for shopping by scanning the product's
                        barcode. You can also add any product that is not available by taking a picture of it with your mobile
                        camera.</p></li>
                    <li><p>Access to personal accounts: for users, in order to customize the user experience.</p></li>
                    <li><p>Access to your location: to facilitate the process of delivering orders and calculating the time needed
                        to deliver the order to your address.</p></li>
                    <li><p>Access to the Internet.</p></li>
                    <li><p>Access to the external memory of your mobile device, whether by reading or writing on it.</p></li>
                    <li><p>Right to amend the privacy policy</p></li>
                </ul>
                <p>Caly has the full right to update its privacy policy by adding or deleting new clauses or amending existing
                    ones at any time. How do we notify Caly users of any updates to the privacy policy? We do not send any
                    notification or email regarding updates to the privacy policy, but you can always find out about any updates
                    by checking the last update date of this policy, which is located on the last line of this page.</p>
            </div>

            <div *ngIf="lang=='zh'" class="prvcy-polcy">
                <h2>隐私政策</h2>
                <p> 您对 花萼 应用程序的使用以及向我们提供您的个人信息构成您的
                    同意隐私政策中规定的条款。关于“公司”或“我们”，它代表
                    卡利信息技术，在沙特阿拉伯王国注册，而“您”或“用户”
                    代表任何使用 花萼 应用程序的人。如果您不同意这些条款，您必须停止使用
                    应用程序。</p>
                <h4>您的信息安全吗？</h4>
                <p>如果您浏览商店，除非您决定使用该服务，否则我们不会收集有关您的任何个人数据
                    并从中受益，而不仅仅是为了浏览和发现目的。如果您使用该服务，您必须
                    请放心，我们会尽最大努力保护您的个人数据，防止未经授权或未经授权的访问
                    它，甚至保护它不被处理、更改或丢失。尽管采取了各种保护措施和
                    努力改进它们，没有任何系统或技术可以完全免受伤害。因此，如果你
                    在应用程序中感觉有任何差距，您可以通过以下方式与我们联系以解决此问题
                    电子邮件地址：<strong>info@caly.sa</strong>.</p>
                <h4>应用程序中的电子支付过程是如何进行的？</h4>
                <p>花萼 使用受信任的第三方处理电子支付交易，这些流程不适用
                    给在购物过程中选择“收货后付款”的人。该第三方可能会要求
                    有关您的信用卡的信息，并可能会要求您访问您的联系人列表。</p>
                <p>花萼 使用客户的钱包运输系统，客户可以通过他们的钱包进行购买
                    基于 花萼 与客户之间的分期付款销售协议。</p>
                <h4>我们是否与任何其他方共享您的个人信息？</h4>
                <p>花萼 用户的隐私是我们试图以各种可能的方式保护的最重要的事情之一。我们
                    不出售或共享这些数据，我们也不会出于任何目的向任何第三方披露或共享这些数据。这
                    我们收集这些数据的目的仅为统计目的，例如用户数量及其
                    访问服务的位置。</p>
                <h4>用户需要什么权限？</h4>
                <ul>
                    <li><p>获取手机状态：第三方请求完成电子支付
                        应用。</p></li>
                    <li><p>访问相机：访问您的移动相机用于通过扫描产品的购物
                        条码。您还可以通过用手机拍照来添加任何不可用的产品
                        相机。</p></li>
                    <li><p>访问个人帐户：针对用户，以定制用户体验。</p></li>
                    <li><p>访问您的位置：以促进交付订单和计算所需时间的过程
                        将订单交付到您的地址。</p></li>
                    <li><p>访问互联网。</p></li>
                    <li><p>访问移动设备的外部存储器，无论是读取还是写入。</p></li>
                    <li><p>修改隐私政策的权利</p></li>
                </ul>
                <p>花萼 有权通过添加或删除新条款或修改现有条款来更新其隐私政策
                    任何时候。我们如何通知 花萼 用户隐私政策的任何更新？我们不发送任何
                    有关隐私政策更新的通知或电子邮件，但您可以随时了解任何更新
                    通过检查位于本页最后一行的本政策的最后更新日期。</p>
            </div>

            <div *ngIf="lang=='ar'" class="prvcy-polcy">
                <h2>سياسة الخصوصية</h2>
                <p>استخدامك لتطبيق كالي وتقديمك معلوماتك الشخصية لنا هو بمثابة موافقة منك على البنود الواردة في سياسة الخصوصية،
                    بالإشارة إلى "الشركة" أو "نحن" فإنها تمثل شركة كالي لتقنية المعلومات والمسجلة في المملكة العربية السعودية،
                    أما "أنت" أو "المستخدم" فإنها تمثل أي شخص يقوم باستخدام تطبيق كالي. إن كنت لا توافق على هذه البنود، فعليك
                    التوقف عن استخدام التطبيق.</p>
                <h4>هل معلوماتك آمنة؟</h4>
                <p>في حال تصفحك للمتجر، لن نقوم بجمع أي بيانات شخصية عنك إلا حين تقرر استخدام ا لخدمة والانتفاع منها لا لغرض
                    التصفح والاكتشاف فقط، وفي حال استخدامك للخدمة يجب أن تكون مطمئنًا أنّا نبذل أقصى ما في وسعنا لحماية بياناتك
                    الشخصية ومنع الوصول غير القانوني أو غير المصرح به لها وحتى حمايتها من المعالجة والتغيير والفقدان. وعلى الرغم
                    من اتخاذ إجراءات الحماية المتنوعة والعمل على تحسينها، لا يمكن لأي نظام أو تقنية أن تبقى في مأمن تام عن
                    الأضرار، ولذلك إذا شعرت بأي ثغرة داخل التطبيق، يمكنك التواصل معنا للعمل على حل هذه المشكلة من خلال البريد
                    الإلكتروني التالي <strong>info@caly.sa</strong>.</p>
                <h4>كيف تتم عملية معالجة الدفع الإلكتروني داخل التطبيق؟</h4>
                <p>كالي يستخدم طرف ثالث موثوق لمعالجة عمليات الدفع الإلكتروني، وهذه العمليات لا تنطبق على الأشخاص الذين يقومون
                    باختيار "الدفع عند الاستلام" خلال عملية التسوق، من الممكن أن يقوم هذا الطرف الثالث بطلب معلومات خاصة ببطاقتك
                    الائتمانية وربما يطلب منك الوصول لقائمة الاتصال الخاصة بك.
                    كالي تستخدم نظام شحن محفظة العميل ويمكن للعميل الشراء عن طريق محفظته بناء على اتفاقيات بيع الاجل بين كالي
                    والعميل
                </p>
                <h4>هل نقوم بمشاركة بياناتك الشخصية مع أي أطراف أخرى؟</h4>
                <p>خصوصية مستخدمي كالي هي من أهم الأشياء التي نحاول حمايتها بكل الطرق الممكنة، حيث أننا لا نقوم إطلاقًا ببيع أو
                    مشاركة هذه البيانات ولا نقوم بالكشف عنها أو مشاركتها مع أي طرف ثالث لأي غرض كان، والأهداف التي نقوم بجمع هذه
                    البيانات لها هي أهداف إحصائية لا غير كأعداد المستخدمين وأماكن انتفاعهم من الخدمة.</p>
                <h4>ما هي الصلاحيات المطلوبة من المستخدم؟</h4>
                <ul>
                    <li><p>الوصول إلى حالة الهاتف: طلب من قبل طرف ثالث لإكمال الدفع الإلكتروني داخل
                        طلب.</p></li>
                    <li><p>الوصول إلى الكاميرا: حيث يتم استخدام الوصول إلى كاميرا هاتفك المحمول للتسوق عن طريق مسح المنتج
                        الباركود. يمكنك أيضًا إضافة أي منتج غير متوفر من خلال التقاط صورة له بهاتفك المحمول
                        آلة تصوير.</p></li>
                    <li><p>الوصول إلى الحسابات الشخصية: للمستخدمين ، من أجل تخصيص تجربة المستخدم.</p></li>
                    <li><p>الوصول إلى موقعك: لتسهيل عملية تسليم الطلبات وحساب الوقت المطلوب
                        لتسليم الطلب إلى عنوانك.</p></li>
                    <li><p>الوصول إلى الإنترنت.</p></li>
                    <li><p>الوصول إلى الذاكرة الخارجية لجهازك المحمول سواء عن طريق القراءة أو الكتابة عليها.</p></li>
                    <li><p>الحق في تعديل سياسة الخصوصية</p></li>
                </ul>
                <p>الي تملك الحق الكامل في تحديث سياسة الخصوصية الخاصة بكالي سواء بإضافة أو حذف بنود جديدة أو بتعديل بنود حالية
                    في أي وقت. كيف نقوم بإخطار مستخدمي كالي بأي تحديث في سياسة الخصوصية؟ لا نقوم بإرسال أي إشعار أو بريد
                    إلكتروني حول تحديثات سياسة الخصوصية، ولكن يمكنك دائماً معرفة أي تحديث وذلك بتفقد تاريخ آخر تحديث لهذه
                    السياسة والموجود في آخر سطر في هذه الصفحة.</p>
                <h4>كيف نقوم بإخطار مستخدمي كالي بأي تحديث في سياسة الخصوصية؟</h4>
                <p>لا نقوم بإرسال أي إشعار أو بريد إلكتروني حول تحديثات سياسة الخصوصية، ولكن يمكنك دائماً معرفة أي تحديث وذلك
                    بتفقد تاريخ آخر تحديث لهذه السياسة والموجود في آخر سطر في هذه الصفحة.</p>
            </div>

            <div *ngIf="lang=='ur'" class="prvcy-polcy">
                <h2>رازداری کی پالیسی</h2>
                <p> Caly ایپلیکیشن کا آپ کا استعمال اور ہمیں آپ کی ذاتی معلومات کی فراہمی آپ کی تشکیل کرتی ہے۔
                    رازداری کی پالیسی میں بیان کردہ شرائط پر رضامندی۔ "کمپنی" یا "ہم" کے حوالے سے یہ نمائندگی کرتا ہے۔
                    کیلی فار انفارمیشن ٹیکنالوجی، مملکت سعودی عرب میں رجسٹرڈ، جبکہ "آپ" یا "صارف"
                    کسی بھی شخص کی نمائندگی کرتا ہے جو کیلی ایپلیکیشن استعمال کرتا ہے۔ اگر آپ ان شرائط سے اتفاق نہیں کرتے ہیں، تو آپ کو استعمال کرنا بند کر دینا چاہیے۔
                    درخواست.</p>
                <h4>کیا آپ کی معلومات محفوظ ہیں؟</h4>
                <p>اگر آپ اسٹور کو براؤز کرتے ہیں، تو ہم آپ کے بارے میں کوئی ذاتی ڈیٹا جمع نہیں کریں گے جب تک کہ آپ سروس استعمال کرنے کا فیصلہ نہ کریں۔
                    اور اس سے فائدہ اٹھائیں، صرف براؤزنگ اور دریافت کے مقاصد کے لیے نہیں۔ اگر آپ سروس استعمال کرتے ہیں، تو آپ کو ہونا چاہیے۔
                    یقین دہانی کرائی کہ ہم آپ کے ذاتی ڈیٹا کی حفاظت کے لیے اپنی پوری کوشش کرتے ہیں، غیر مجاز یا غیر مجاز رسائی کو روکنے کے لیے
                    یہ، اور یہاں تک کہ اسے پروسیسنگ، تبدیلی، یا نقصان سے بچاتا ہے۔ مختلف حفاظتی اقدامات کے باوجود اور
                    ان کو بہتر بنانے کے لیے کام کرنا، کوئی بھی نظام یا ٹیکنالوجی نقصان سے مکمل طور پر محفوظ نہیں رہ سکتی۔ لہذا، اگر آپ
                    درخواست میں کسی بھی خلا کو محسوس کریں، آپ درج ذیل کے ذریعے اس مسئلے کو حل کرنے کے لیے ہم سے رابطہ کر سکتے ہیں۔
                    ای میل اڈریس:<strong>info@caly.sa</strong>.</p>
                <h4>درخواست کے اندر الیکٹرانک ادائیگی کا عمل کیسے انجام دیا جاتا ہے؟</h4>
                <p>کیلی  الیکٹرانک ادائیگی کے لین دین پر کارروائی کرنے کے لیے ایک قابل اعتماد تیسرے فریق کا استعمال کرتا ہے، اور یہ عمل لاگو نہیں ہوتے ہیں۔
                    ان لوگوں کو جو خریداری کے عمل کے دوران "رسید پر ادائیگی" کا انتخاب کرتے ہیں۔ یہ تیسرا فریق درخواست کر سکتا ہے۔
                    آپ کے کریڈٹ کارڈ کے بارے میں معلومات اور آپ سے اپنی رابطہ فہرست تک رسائی کے لیے کہہ سکتے ہیں۔</p>
                <p>کیلی گاہک کے والیٹ شپنگ سسٹم کا استعمال کرتی ہے، اور صارف اپنے بٹوے کے ذریعے خریداری کر سکتا ہے۔
                    کیلی اور کسٹمر کے درمیان قسطوں پر فروخت کے معاہدوں کی بنیاد پر۔</p>
                <h4>کیا ہم آپ کی ذاتی معلومات کسی دوسرے فریق کے ساتھ شیئر کرتے ہیں؟</h4>
                <p>کیلی کے صارفین کی رازداری ان سب سے اہم چیزوں میں سے ایک ہے جس کی ہم ہر ممکن طریقے سے حفاظت کرنے کی کوشش کرتے ہیں۔ ہم
                    اس ڈیٹا کو فروخت یا شیئر نہ کریں، اور ہم کسی بھی مقصد کے لیے کسی تیسرے فریق کے ساتھ اس کا انکشاف یا اشتراک نہیں کرتے ہیں۔ دی
                    جن مقاصد کے لیے ہم یہ ڈیٹا اکٹھا کرتے ہیں وہ صرف شماریاتی مقاصد ہیں، جیسے کہ صارفین کی تعداد اور ان کے
                    سروس تک مقامات تک رسائی حاصل کریں۔</p>
                <h4>صارف کو کن اجازتوں کی ضرورت ہے؟</h4>
                <ul>
                    <li><p>فون کی حیثیت تک رسائی: تیسرے فریق کے ذریعہ الیکٹرانک ادائیگی مکمل کرنے کی درخواست کی گئی ہے۔
                        درخواست</p></li>
                    <li><p>کیمرے تک رسائی: جہاں آپ کے موبائل کیمرہ تک رسائی کو پروڈکٹ کو اسکین کرکے خریداری کے لیے استعمال کیا جاتا ہے۔
                        بارکوڈ آپ اپنے موبائل سے اس کی تصویر لے کر کسی بھی ایسی پروڈکٹ کو بھی شامل کرسکتے ہیں جو دستیاب نہیں ہے۔
                        کیمرے</p></li>
                    <li><p>ذاتی اکاؤنٹس تک رسائی: صارفین کے لیے، صارف کے تجربے کو حسب ضرورت بنانے کے لیے۔</p></li>
                    <li><p>اپنے مقام تک رسائی: آرڈر کی فراہمی اور وقت کا حساب لگانے کے عمل کو آسان بنانے کے لیے
                        آرڈر آپ کے پتے پر پہنچانے کے لیے۔</p></li>
                    <li><p>انٹرنیٹ تک رسائی۔</p></li>
                    <li><p>اپنے موبائل ڈیوائس کی بیرونی میموری تک رسائی، چاہے اس پر پڑھ کر یا لکھ کر۔</p></li>
                    <li><p>رازداری کی پالیسی میں ترمیم کرنے کا حق</p></li>
                </ul>
                <p>کیلی کو مکمل حق حاصل ہے کہ وہ نئی شقوں کو شامل یا حذف کر کے یا موجودہ ترمیم کر کے اپنی رازداری کی پالیسی کو اپ ڈیٹ کر سکے۔
                    کسی بھی وقت. ہم کیلی کے صارفین کو رازداری کی پالیسی میں کسی بھی اپ ڈیٹ کے بارے میں کیسے مطلع کرتے ہیں؟ ہم کوئی نہیں بھیجتے
                    پرائیویسی پالیسی کی اپ ڈیٹس کے بارے میں اطلاع یا ای میل، لیکن آپ ہمیشہ کسی بھی اپ ڈیٹ کے بارے میں جان سکتے ہیں۔
                    اس پالیسی کی آخری اپ ڈیٹ کی تاریخ کو چیک کرکے، جو اس صفحے کی آخری لائن پر واقع ہے۔</p>
            </div>
        </div>
        </div>
    </div>
</section>

