
<section class="pcyplcy-section white-bg">
    <div class="container">
        <div class="pcyplcy-main">
            <div class="privacy-policy">
                <div *ngIf="lang=='en'" class="prvcy-polcy">
                    <h2>Terms & Conditions</h2>
                    <p> Your use of the Caly application and your provision of personal information to us constitutes your agreement
                        to the terms contained in this agreement. References to "the Company" or "we" represent Caly Information
                        Technology Company registered in the Kingdom of Saudi Arabia, while "you" or "the User" represents any
                        person who uses the Caly application. If you do not agree to these terms, you must stop using the
                        application.</p>
                    <h4>Do we collect your personal information?</h4>
                    <p>If you browse the store, we will not collect any personal data about you unless you decide to use the service
                        and benefit from it. If you use the service, we collect the following personal data:</p>
                    <ul>
                        <li><p>Name</p></li>
                        <li><p>Email address</p></li>
                        <li><p>Mobile number</p></li>
                        <li><p>Location and address (this requires activating the location feature sometimes)</p></li>
                    </ul>
                    <h4>How do we use personal data?</h4>
                    <p>We collect the personal data mentioned above for the following reasons:</p>
                    <ul>
                        <li><p>Registering in the application</p></li>
                        <li><p>Customizing your experience in the application to get the best possible shopping experience with Caly.</p></li>
                        <li><p>Planning to know the time it will take for delivery.</p></li>
                        <li><p>Informing you of promotional offers.</p></li>
                        <li><p>Communicating with you.</p></li>
                    </ul>
                    <h4>How is the electronic payment process processed within the application?</h4>
                    <p>Caly uses a trusted third party to process electronic payment operations, and these operations do not apply
                        to people who choose "payment upon receipt" during the shopping process. This third party may request
                        information about your credit card and may ask you to access your contact list.
                    </p>
                    <h4>Do we share your personal data with any other parties?</h4>
                    <p>The privacy of Caly users is one of the most important things we try to protect in every possible way, as we
                        do not sell or share this data, or disclose or share it with any third party for any purpose.
                    </p>
                    <h4>Is your personal data safe?</h4>
            
                    <p>We use very advanced technologies to maintain the privacy of your data and prevent it from being lost,
                        stolen, or hacked. However, we disclaim all responsibility for any breach that occurs from your contact.</p>
                    <h4>Can you modify your data?</h4>
                    <p>You can modify your personal data by contacting customer service by clicking the "Contact Us" button in the
                        side menu within the application or by calling <strong>0534518588</strong>.</p>
                    <h4>Pricing Policy</h4>
                    <p>The prices of products in Caly are subject to a 15% value-added tax.</p>
                    <h4>Return Policy</h4>
                    <p>If there is a defect in the products or the customer is dissatisfied with the quality within 14 days of the
                        purchase process, you can file a complaint through customer service either by calling
                        <strong>0534518588</strong> or by sending a message via the following email: <strong>info@caly.sa</strong>
                        to replace or return them.</p>
                    <h4>Right to amend the terms of use</h4>
                    <p>Caly has the full right to update the terms of use of Kali by adding or deleting new clauses or amending
                        existing ones at any time.</p>
                    <h4>How do we notify Caly users of any updates to the terms of use?</h4>
                    <p>We do not send any notifications or emails regarding updates to the terms of use, but you can always find out
                        about any updates by checking the last update date of these terms located on the last line of this page.</p>
                    <h4>What is the law that the terms are subject to?</h4>
                    <p>The terms of use are subject to the laws of the Kingdom of Saudi Arabia, and your agreement to them means
                        your agreement to submit to the judicial authority in the Saudi courts.</p>
                    <h4>Do you have any inquiries?</h4>
                    <p>If you have any inquiries, questions, or concerns about these terms, we are always welcome to answer your
                        questions and inquiries. You can contact us directly via email at <strong>info@caly.sa</strong>, and we will
                        respond as soon as possible.</p>
                </div>
                <div *ngIf="lang=='zh'" class="prvcy-polcy">
                    <h2>条款和条件</h2>
                    <p> 您使用 花萼 应用程序以及向我们提供个人信息即表示您同意
                        遵守本协议中包含的条款。提及“公司”或“我们”代表 卡利信息
                        在沙特阿拉伯王国注册的技术公司，而“您”或“用户”代表任何
                        使用 花萼 应用程序的人。如果您不同意这些条款，您必须停止使用
                        应用。</p>
                    <h4>我们会收集您的个人信息吗？</h4>
                    <p>如果您浏览商店，除非您决定使用该服务，否则我们不会收集有关您的任何个人数据
                        并从中受益。如果您使用该服务，我们会收集以下个人数据：</p>
                    <ul>
                        <li><p>姓名</p></li>
                        <li><p>电子邮件地址</p></li>
                        <li><p>手机号码</p></li>
                        <li><p>位置和地址（这有时需要激活位置功能）</p></li>
                    </ul>
                    <h4>我们如何使用个人数据？</h4>
                    <p>我们出于以下原因收集上述个人数据：</p>
                    <ul>
                        <li><p>在应用程序中注册</p></li>
                        <li><p>自定义您在应用程序中的体验，以获得最佳的 花萼 购物体验。</p>
                        </li>
                        <li><p>计划知道交货时间。</p></li>
                        <li><p>通知您促销优惠。</p></li>
                        <li><p>与您沟通。</p></li>
                    </ul>
                    <h4>如何在应用程序中处理电子支付流程？</h4>
                    <p>花萼 使用受信任的第三方处理电子支付操作，这些操作不适用
                        给在购物过程中选择“收货后付款”的人。该第三方可能会要求
                        有关您的信用卡的信息，并可能会要求您访问您的联系人列表。
                    </p>
                    <h4>我们是否与任何其他方共享您的个人数据？</h4>
                    <p>花萼 用户的隐私是我们试图以各种可能的方式保护的最重要的事情之一，因为我们
                        不得出于任何目的出售或共享此数据，或向任何第三方披露或共享此数据。
                    </p>
                    <h4>您的个人数据安全吗？</h4>
            
                    <p>我们使用非常先进的技术来维护您的数据隐私并防止其丢失，
                        被盗或被黑客入侵。但是，对于因您的联系而发生的任何违规行为，我们不承担任何责任。</p>
                    <h4>你能修改你的数据吗？</h4>
                    <p>您可以通过点击“联系我们”按钮联系客服修改您的个人资料
                        应用程序中的侧面菜单或通过调用<strong>0534518588</strong>.</p>
                    <h4>定价政策</h4>
                    <p>卡利的产品价格需缴纳 15% 的增值税。</p>
                    <h4>退货政策</h4>
                    <p>如果产品存在缺陷或客户在收到后 14 天内对质量不满意
                        购买过程中，您可以拨打客服投诉
                        <strong>0534518588</strong>或通过以下电子邮件发送消息： <strong>info@caly.sa</strong>
                        更换或退回它们。</p>
                    <h4>修改使用条款的权利</h4>
                    <p>花萼 有权通过增加或删除新条款或修改来更新Kali使用条款
                        随时存在的。</p>
                    <h4>我们如何通知 花萼 用户有关使用条款的任何更新？</h4>
                    <p>我们不会发送有关使用条款更新的任何通知或电子邮件，但您总能找到
                        通过检查位于本页最后一行的这些条款的最后更新日期来了解任何更新。</p>
                    <h4>条款适用的法律是什么？</h4>
                    <p>使用条款受沙特阿拉伯王国法律的约束，您对它们的同意意味着
                        您同意提交给沙特法院的司法机关。</p>
                    <h4>您有任何疑问吗？</h4>
                    <p>如果您对这些条款有任何疑问、问题或疑虑，我们随时欢迎回答您的问题
                        问题和查询。您可以通过电子邮件直接联系我们<strong>info@caly.sa</strong>，我们将
                        尽快回复。</p>
                </div>

                <div *ngIf="lang=='ar'" class="prvcy-polcy">
                    <h2>شروط الاستخدام</h2>
                    <p>استخدامك لتطبيق كالي وتقديمك معلوماتك الشخصية لنا هو بمثابة موافقة منك على البنود الواردة في هذه الاتفاقية، بالإشارة إلى "الشركة" أو "نحن" فإنها تمثل شركة كالي لتقنية المعلومات والمسجلة في المملكة العربية السعودية، أما "أنت" أو "المستخدم" فإنها تمثل أي شخص يقوم باستخدام تطبيق كالي. إن كنت لا توافق على هذه البنود، فعليك التوقف عن استخدام التطبيق</p>
                    <h4>هل نقوم بجمع بياناتك الشخصية؟</h4>
                    <p>في حال تصفحك للمتجر، لن نقوم بجمع أي بيانات شخصية عنك إلا حين تقرر استخدام الخدمة والانتفاع منها، وفي حال استخدامك لها فنحن نقوم البيانات الشخصية الموضحة أدناه:</p>
                    <ul>
                        <li><p>اسم</p></li>
                        <li><p>عنوان البريد الإلكتروني</p></li>
                        <li><p>رقم الهاتف المحمول</p></li>
                        <li><p>الموقع والعنوان (يتطلب هذا تفعيل ميزة الموقع في بعض الأحيان)</p></li>
                    </ul>
                    <h4>كيف نستخدم البيانات الشخصية؟</h4>
                    <p>نحنُ نقوم بجمع البيانات الشخصية والتي سبق ذكرها للأسباب التالية:</p>
                    <ul>
                        <li><p>التسجيل في التطبيق</p></li>
                        <li><p>تخصيص تجربتك في التطبيق للحصول على أفضل تجربة تسوق ممكنة مع Caly.</p></li>
                        <li><p>التخطيط لمعرفة الوقت المستغرق للتسليم.</p></li>
                        <li><p>إبلاغك بالعروض الترويجية.</p></li>
                        <li><p>التواصل معك.</p></li>
                    </ul>
                    <h4>كيف تتم عملية معالجة الدفع الإلكتروني داخل التطبيق؟</h4>
                    <p>كالي يستخدم طرف ثالث موثوق لمعالجة عمليات الدفع الإلكتروني، وهذه العمليات لا تنطبق على الأشخاص الذين يقومون باختيار "الدفع عند الاستلام" خلال عملية التسوق، من الممكن أن يقوم هذا الطرف الثالث بطلب معلومات خاصة ببطاقتك الائتمانية وربما يطلب منك الوصول لقائمة الاتصال الخاصة بك.
                        <p>
                    <h4>هل نقوم بمشاركة بياناتك الشخصية مع أي أطراف أخرى؟</h4>
                    <p>خصوصية مستخدمي كالي هي من أهم الأشياء التي نحاول حمايتها بكل الطرق الممكنة، حيث أننا لا نقوم إطلاقًا ببيع أو مشاركة هذه البيانات ولا نقوم بالكشف عنها أو مشاركتها مع أي طرف ثالث لأي غرض كان.
                    </p>
                    <h4>هل بياناتك الشخصية في أمان؟</h4>
            
                    <p>نحنُ نقوم باستخدام تقنيات متقدمة جداً للحفاظ على خصوصية بياناتك ومنعها من الضياع أو السرقة أو القرصنة، ولكن نُخلي مسؤوليتنا التامة عن أي خرق يحدث من طرف الاتصال الخاص بك.
                    </p>
                    <h4>هل يمكنك تعديل بياناتك؟</h4>
                    <p>يمكنك تعديل بياناتك الشخصية من خلال التواصل مع خدمة العملاء من خلال الضغط على زر اتصل بنا من القائمة الجانبية داخل التطبيق أو من خلال الاتصال على الرقم 0534518588 </p>
                    <h4>سياسة الأسعار</h4>
                    <p>تخضع اسعار المنتجات في كالي لضريبة القيمة المضافة ١٥٪. </p>
                    <h4>سياسة الإرجاع</h4>
                    <p>في حال وجود خلل في المنتجات أو عدم رضا من قبل العميل على الجودة خلال ١٤ يوم من عملية الشراء، يمكنك تقديم شكوى من خلال خدمة العملاء إما من خلال الاتصال على الرقم 0534518588 أو إرسال رسالة عبر الإيميل التالي: info@caly.sa لاستبدالها أو إرجاعها.
                    </p>
                    <h4>حق تعديل شروط الاستخدام</h4>
                    <p>كالي تملك الحق الكامل في تحديث شروط الاستخدام الخاصة بكالي سواء بإضافة أو حذف بنود جديدة أو بتعديل بنود حالية في أي وقت.</p>
                    <h4>كيف نقوم بإخطار مستخدمي كالي بأي تحديث في شروط الاستخدام؟</h4>
                    <p>لا نقوم بإرسال أي إشعار أو بريد إلكتروني حول تحديثات شروط الاستخدام، ولكن يمكنك دائماً معرفة أي تحديث وذلك بتفقد تاريخ آخر تحديث لهذه الشروط والموجود في آخر سطر في هذه الصفحة.</p>
                    <h4>ما هو القانون الذي تخضع له الشروط؟</h4>
                    <p>تخضع شروط الاستخدام لقانون المملكة العربية السعودية، و موافقتك عليها تعني موافقتك على الخضوع للسلطة القضائية في المحاكم السعودية.</p>
                    <h4>هل لديك أي استفسار؟</h4>
                    <p>إذا كانت لديك أي استفسارات أو أسئلة أو مخاوف حول هذه الشروط، فنحن نرحب دائماً بالإجابة على أسئلتكم و استفساراتكم، يمكنكم التواصل معنا مباشرة من خلال البريد الإلكتروني info@caly.sa وسوف يتم الرد بأسرع وقت ممكن.</p>
                </div>

                <div *ngIf="lang=='ur'" class="prvcy-polcy">
                    <h2>شرائط و ضوابط</h2>
                    <p> آپ کی کیلی ایپلیکیشن کا استعمال اور آپ کی ذاتی معلومات کی ہمیں فراہمی آپ کے معاہدے کو تشکیل دیتی ہے۔
                        اس معاہدے میں موجود شرائط پر۔ "کمپنی" یا "ہم" کے حوالے Caly معلومات کی نمائندگی کرتے ہیں۔
                        سعودی عرب کی مملکت میں رجسٹرڈ ٹیکنالوجی کمپنی، جبکہ "آپ" یا "صارف" کسی کی نمائندگی کرتا ہے۔
                        وہ شخص جو کیلی ایپلیکیشن استعمال کرتا ہے۔ اگر آپ ان شرائط سے متفق نہیں ہیں، تو آپ کو استعمال کرنا بند کر دینا چاہیے۔
                        درخواست</p>
                    <h4>کیا ہم آپ کی ذاتی معلومات جمع کرتے ہیں؟</h4>
                    <p>اگر آپ اسٹور کو براؤز کرتے ہیں، تو ہم آپ کے بارے میں کوئی ذاتی ڈیٹا جمع نہیں کریں گے جب تک کہ آپ سروس استعمال کرنے کا فیصلہ نہ کریں۔
                        اور اس سے فائدہ اٹھائیں. اگر آپ سروس استعمال کرتے ہیں، تو ہم درج ذیل ذاتی ڈیٹا اکٹھا کرتے ہیں:</p>
                        <ul>
                            <li><p>نام</p></li>
                            <li><p>ای میل اڈریس</p></li>
                            <li><p>موبائل فون کانمبر</p></li>
                            <li><p>مقام اور پتہ (اس کے لیے بعض اوقات مقام کی خصوصیت کو چالو کرنے کی ضرورت ہوتی ہے)</p></li>
                        </ul>
                    <h4>ہم ذاتی ڈیٹا کیسے استعمال کرتے ہیں؟</h4>
                    <p>ہم مندرجہ ذیل وجوہات کی بنا پر مذکورہ بالا ذاتی ڈیٹا اکٹھا کرتے ہیں۔</p>
                    <ul>
                        <li><p>درخواست میں اندراج</p></li>
                        <li><p>کیلی کے ساتھ بہترین ممکنہ خریداری کا تجربہ حاصل کرنے کے لیے ایپلی کیشن میں اپنے تجربے کو حسب ضرورت بنانا۔</p></li>
                        <li><p>ڈیلیوری میں کتنا وقت لگے گا یہ جاننے کی منصوبہ بندی کرنا۔</p></li>
                        <li><p>آپ کو پروموشنل پیشکشوں سے آگاہ کرنا۔</p></li>
                        <li><p>آپ کے ساتھ بات چیت کر رہا ہے۔</p></li>
                    </ul>
                    <h4>درخواست کے اندر الیکٹرانک ادائیگی کا عمل کیسے کیا جاتا ہے؟</h4>
                    <p>کیلی الیکٹرانک ادائیگی کی کارروائیوں پر کارروائی کرنے کے لیے ایک قابل اعتماد تیسرے فریق کا استعمال کرتا ہے، اور یہ کارروائیاں لاگو نہیں ہوتی ہیں۔
                        ان لوگوں کو جو خریداری کے عمل کے دوران "رسید پر ادائیگی" کا انتخاب کرتے ہیں۔ یہ تیسرا فریق درخواست کر سکتا ہے۔
                        آپ کے کریڈٹ کارڈ کے بارے میں معلومات اور آپ سے اپنی رابطہ فہرست تک رسائی کے لیے کہہ سکتے ہیں۔
                    </p>
                    <h4>کیا ہم آپ کا ذاتی ڈیٹا کسی دوسرے فریق کے ساتھ شیئر کرتے ہیں؟</h4>
                    <p>Caly صارفین کی رازداری سب سے اہم چیزوں میں سے ایک ہے جسے ہم ہر ممکن طریقے سے بچانے کی کوشش کرتے ہیں، جیسا کہ ہم
                        اس ڈیٹا کو فروخت یا شیئر نہ کریں، یا کسی مقصد کے لیے کسی تیسرے فریق کے ساتھ اس کا انکشاف یا اشتراک نہ کریں۔
                    </p>
                    <h4>کیا آپ کا ذاتی ڈیٹا محفوظ ہے؟</h4>
            
                    <p>ہم آپ کے ڈیٹا کی رازداری کو برقرار رکھنے اور اسے ضائع ہونے سے بچانے کے لیے بہت جدید ٹیکنالوجیز استعمال کرتے ہیں،
                        چوری، یا ہیک. تاہم، ہم آپ کے رابطے سے ہونے والی کسی بھی خلاف ورزی کی تمام ذمہ داری سے دستبردار ہوتے ہیں۔</p>
                    <h4>کیا آپ اپنے ڈیٹا میں ترمیم کر سکتے ہیں؟</h4>
                    <p>آپ کسٹمر سروس سے رابطہ کر کے "ہم سے رابطہ کریں" بٹن پر کلک کر کے اپنے ذاتی ڈیٹا میں ترمیم کر سکتے ہیں۔
                        درخواست کے اندر یا کال کرکے سائیڈ مینو <strong>0534518588</strong>.</p>
                    <h4>قیمتوں کا تعین کرنے کی پالیسی</h4>
                    <p>کیلی میں مصنوعات کی قیمتیں 15% ویلیو ایڈڈ ٹیکس سے مشروط ہیں۔</p>
                    <h4>واپسی کی پالیسی</h4>
                    <p>اگر مصنوعات میں کوئی خرابی ہے یا گاہک 14 دنوں کے اندر معیار سے مطمئن نہیں ہے۔
                        خریداری کے عمل میں، آپ کسٹمر سروس کے ذریعے یا تو کال کرکے شکایت درج کروا سکتے ہیں۔
                        <strong>0534518588</strong> یا درج ذیل ای میل کے ذریعے پیغام بھیج کر: <strong>info@caly.sa</strong>
                        ان کو تبدیل کرنے یا واپس کرنے کے لیے۔</p>
                    <h4>استعمال کی شرائط میں ترمیم کرنے کا حق</h4>
                    <p>کیلی کو مکمل حق حاصل ہے کہ وہ نئی شقوں کو شامل یا حذف کر کے یا ترمیم کر کے کالی کے استعمال کی شرائط کو اپ ڈیٹ کر سکے۔
                        کسی بھی وقت موجودہ.</p>
                    <h4>ہم Caly صارفین کو استعمال کی شرائط میں کسی بھی اپ ڈیٹ کے بارے میں کیسے مطلع کرتے ہیں؟</h4>
                    <p>ہم استعمال کی شرائط میں اپ ڈیٹس کے حوالے سے کوئی اطلاع یا ای میل نہیں بھیجتے ہیں، لیکن آپ ہمیشہ جان سکتے ہیں۔
                        اس صفحے کی آخری لائن پر موجود ان شرائط کی آخری اپ ڈیٹ کی تاریخ کو چیک کرکے کسی بھی اپ ڈیٹ کے بارے میں۔</p>
                    <h4>وہ کونسا قانون ہے جس کے تابع ہیں؟</h4>
                    <p>استعمال کی شرائط مملکت سعودی عرب کے قوانین کے تابع ہیں، اور ان سے آپ کے معاہدے کا مطلب ہے۔
                        سعودی عدالتوں میں عدالتی اتھارٹی کے سامنے پیش کرنے کا آپ کا معاہدہ۔</p>
                    <h4>کیا آپ کے پاس کوئی پوچھ گچھ ہے؟</h4>
                    <p>اگر آپ کو ان شرائط کے بارے میں کوئی پوچھ گچھ، سوالات، یا خدشات ہیں، تو ہم آپ کے جواب دینے کے لیے ہمیشہ خوش آمدید کہتے ہیں۔
                        سوالات اور استفسارات. آپ ہم سے براہ راست ای میل پر رابطہ کر سکتے ہیں۔ <strong>info@caly.sa</strong>,اور ہم کریں گے
                        جتنی جلدی ممکن ہو جواب دیں.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>