<!-- <footer class="footer-section">
    <div class="container">
        <div class="ftr-inner">
            <div class="cmpny-copyright">
                <p>{{ 'Copyright' | translate }}</p>
            </div>
            <div class="ftr-btm-links">
                <ul>
                    <li><a routerLink="/user/terms-condition">{{ 'Terms_Conditions' | translate }}</a></li>
                    <li><span>|</span></li>
                    <li><a routerLink="/user/privacy-policy">{{ 'Privacy_Policy' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <div class="row px-xl-5 pt-5 justify-content-center">
      <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
          <a href="" class="text-decoration-none">
              <!-- <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1> -->
              <a href="" routerLink="/user/home"><img class="mb-2" src="assets/images/logo.png" alt="Caly"></a>
          </a>
          <p>CALY is a b2b marketplace that connects your project and your store with suppliers and brands of lighting, plumbing and much more in one place to make the wholesale market an organized and attractive market.</p>
          <p class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3845f5" class="bi bi-geo-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
          </svg> Riyadh, Saudi Arabia</p>
          <p class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3845f5" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          </svg> info@caly.sa</p>
          <p class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3845f5" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg> +012 345 67890</p>
      </div>
      <div class="col-lg-8 col-md-12">
          <div class="row justify-content-center">
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                      <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                      <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                      <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                      <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                      <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                  </div>
              </div>
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                      <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                      <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                      <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                      <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                      <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                  </div>
              </div>
              <!-- <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                  <form action="">
                      <div class="form-group">
                          <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                              required="required" />
                      </div>
                      <div>
                          <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                      </div>
                  </form>
              </div> -->
          </div>
      </div>
  </div>
  <div class="row border-top border-light mx-xl-5 py-4 justify-content-center">
      <div class="col-md-6 px-xl-0 text-center">
          <p class="mb-md-0 text-center text-md-left text-dark">
              &copy; <a class="text-dark font-weight-semi-bold" href="#">Caly</a>. All Rights Reserved.
          </p>
      </div>
      <div class="col-md-6 px-xl-0 text-center text-md-right">
          <img class="img-fluid" src="img/payments.png" alt="">
      </div>
  </div>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a class="btn btn-primary back-to-top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg></a>
