.pop {
    &.ordrcpmltd-pop {
        .lm-outer {
            .lm-inner {
                .popup-inner {
                    max-width: 420px;
                    padding: 30px;

                    .popup-header {
                        justify-content: center;
                        .popup-title {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


body {
    padding: 0;
}

.otp-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    input {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        border: solid 1px #c5c5c5;
        text-align: center;
        font-size: 26px;
        padding: 10px 10px;
        & + input {
            margin-left: 15px;
        }
    }
    .error-mess {
        text-align: center;
        margin-top: 15px;
        p{
            color: #ed2e20;
            font-size: 13px;
            font-weight: 500;
        }
    }
}



.login-btn {
    margin-top: 30px;
    button{
        position: relative;
        min-height: 45px;
        .loadershow {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            background: #ffffff30;
            border-radius: 0.475rem;
            height: 100%;
            cursor: no-drop;
            img{
                width: 55px;
            }
        }

    }
}

